<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width,inital-scale=1">
  </meta>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/flexboxgrid.css' />
  <link rel='stylesheet' href='/stylesheets/NS.css' />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Noto+Sans+KR:100,300,400,500,700,900"
    rel="stylesheet">
</head>

<body>
  <div class="wrap container-fluid">

    <div class="row items coulmn-reverse">
      <div class="col-xs slogan">
        Welcome to<br />
        the new<br />
        <span>NS-Business</span>
      </div>
      <div class="col-xs">
      </div>
    </div>

    <div class="row items coulmn-reverse middle-xs">
      <div class="row login-form max-width">
        <img src="http://192.168.0.6:3000/images/user.svg" alt="hi"></img><input class="text-box" type="text"
          placeholder="ID" />
      </div>
      <div class="row login-form max-width">
        <img src="http://192.168.0.6:3000/images/unlock.svg" alt="hi"></img><input class="text-box" type="text"
          placeholder="ID" />
      </div>
    </div>

    <div class="row items">
      <div style="flex-direction: column; width: 100%;">
        <div class="row">
          <div class="col-xs ">
            <div class="box-row Rectangle-Login"> LOGIN </div>
          </div>
          <div class="col-xs">
            <div class="box-row Rectangle-Sign"> SIGN UP</div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs ">
            <div class="box-row Rectangle-Login"> GUEST </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row items">
    회원 정보를 잊으셨나요 ?
  </div>
</body>

</html>