<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width,inital-scale=1 maximum-scale=1.0, user-scalable=0" />
    <link rel='stylesheet' href='/stylesheets/search_index.css' />
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Noto+Sans+KR:100,300,400,500,700,900"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/search_index.js"></script>
    <script src="/javascripts/ajax.js"></script>
</head>

<body style="background:#4a4a4a">
    <div class="row_inner">
        <div>
            <div class="company_box">
            </div>
            <div class="company_info">
            </div>
        </div>
    </div>

</body>

</html>