<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,inital-scale=1 maximum-scale=1.0, user-scalable=0" />
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Noto+Sans+KR:100,300,400,500,700,900"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="jcrop/js/jquery.min.js"></script>
</head>

<style>
    .container {
        display: flex;
        width: 100%;
        height: 100vh;
        align-items: center;
        position: relative;
        background: gray;
    }

    .Rectangle {
        width: 214px;
        height: 132px;
        border-radius: 28px;
        background-color: #ffffff;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;
        flex-direction: column;
    }

    .Text {
        text-align: center;
        margin: 0 auto;
        flex:1
    }
</style>

<body>
    <div class="container">
        <div class="Rectangle">
            <p class="Text">저장완료</p>
            <p class="Text">확인</p>
        </div>
    </div>
</body>

</html>