<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,inital-scale=1 maximum-scale=1.0, user-scalable=0" />
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700|Noto+Sans+KR:100,300,400,500,700,900"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="jcrop/js/jquery.min.js"></script>
    <script src="jcrop/js/jquery.Jcrop.min.js"></script>
    <link rel="stylesheet" href="jcrop/css/jquery.Jcrop.css" type="text/css" />
    <title>Image Crop!</title>
</head>
<script>
    jQuery(function ($) {
        $('.main_img').Jcrop({
            onSelect: updateCoords,
            aspectRatio: 1 / 1
        });
    });

    function showCoords(c) {
        console.log(c);
        // variables can be accessed here as
        // c.x, c.y, c.x2, c.y2, c.w, c.h
    };

    function updateCoords(c) {
        console.log(c);
        console.log($('.main_img').get(0).naturalWidth);
        console.log($('.main_img').get(0).naturalHeight);
        $('#x').val(c.x);
        $('#y').val(c.y);
        $('#w').val(c.w);
        $('#h').val(c.h);
        $('#s').val($('.main_img').get(0).naturalWidth/$('.main_img').width());
    };

    function checkCoords() {
        if (parseInt($('#w').val())) return true;
        alert('Please select a crop region then press submit.');
        return false;
    };

    function hi() {
        alert('himg')
    }
</script>
<style>
    body {
        margin: 0px;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img_area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 400px;
    }

    .main_img {
        max-width: 300px;
        max-height: 400px;
    }

    .preview_img {
        max-width: 100px;
        max-height: 100px;
    }
</style>

<body>
    <%
        var imagesrc = '1555616746283.jpg';
    %>
    <div class="container">
        <div class="img_area">
            <img class="main_img" src="gallery/<%=imagesrc%>" />
        </div>
        <img class="preview_img" src="profile/cropped.jpg" />
    </div>
    <form action="/test_crop" method="post" onsubmit="return checkCoords();">
        <input type="hidden" id="x" name="x" />
        <input type="hidden" id="y" name="y" />
        <input type="hidden" id="w" name="w" />
        <input type="hidden" id="h" name="h" />
        <input type="hidden" id="s" name="s" />
        <input type="hidden" name="imagesrc" value="<%=imagesrc%>" />
        <input type="submit" value="Crop Image" />
    </form>
</body>

</html>