.Rectangle-Login {
  border-radius: 60.5px;
  background: #181f72;
  color: white;
  padding: 1.3rem;
}

.Rectangle-Sign {
  border-radius: 60.5px;
  border: solid 1px #181f72;
  background: #ffffff;
  color: #181f72;
  padding: 1.3rem;
}

.White-Font {
  font-family: AppleSDGothicNeo;
  font-size: 60px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.column-box {
  flex-direction: column;
}

body {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
}

.slogan {
  font-size: 1.4rem;
  line-height: 2rem;
  color: #181f72;
  font-weight: 200;
}

.slogan span {
  font-weight: 600;
}

.white-space {
  flex: 1;
  display: flex;
}


.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.items {
  flex-grow: 1;
}

.items2 {
  flex-grow: 2;
}

.coulmn {
  flex-direction: column;
}

.coulmn-reverse {
  flex-direction: column-reverse;
  padding-bottom: 1.5rem;
}

.login-form {
  padding: 0.5rem;
  border-bottom: solid 1px #e4e4e4;
}

.text-box {
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.max-width {
  width: 100%;
}

a:link {
    color: #2f2f2f;
    text-decoration: none;
}

a:visited {
    color: #2f2f2f;
    text-decoration: none;
}

a:hover {
    color: #2f2f2f;
    text-decoration: none;
}